/*@media only screen and (min-width:1199px){
	.jx-shape-right{
		display: none;
	}
}
}*/
@media only screen and (max-width:1199px){
	.wrapp_jx-menu-holder{
		display: none;
	}
	.jx-shape-right{
		display: none;
	}
}
@media only screen and (min-width:960px) and (max-width:1199px)
{
	/*.wrapp_jx-menu-holder{
		display: none;
	}*/
	.jx-tagline-box h3
	{
		font-size: 35px;
	}
	.jx-tagline-box h2
	{
		font-size: 24px;
	}
	.jx-tagline-box .jx-newsletter-box input[type=text]
	{
		width: 250px;
	}
	.jx-tagline-box-1 h3
	{
		font-size: 28px;
	}
	.jx-tagline-box-1 h2
	{
		font-size: 34px;
	}
	.jx-tagline-box-1 .button
	{
		font-size: 14px;
	}
	.jx-tagline-box-3 .button
	{
		font-size: 14px;
	}
	.jx-tagline-box-3 .box-content h4
	{
		font-size: 24px;
	}
	.jx-shape-right
	{
		width: 510px;
	}
	.jx-shape-left
	{
		width: 480px;
	}
	.jx-counter-up .count_number
	{
		font-size: 50px;
		line-height: 50px;
	}
	.jx-counter-up .counter_text
	{
		font-size: 20px;
	}
	.countup_hr
	{
		width: 110px;
	}
	.jx-counter-up-2 .jx-count span
	{
		font-size: 60px;
		line-height: 100px;
		margin: 0 5px;
		padding: 0 13px;
	}
	.jx-counter-up-2 .jx-count span.comma
	{
		bottom: -10px;
	}
	.jx-counter-up-box span
	{
		font-size: 70px;
		height: 100px;
		line-height: 100px;
		margin-left: 10px;
		width: 60px;
	}
	.jx-shape-left.jx-shape-small
	{
		width: 365px;
	}
	.jx-counter-up-box span.comma
	{
		font-size: 90px;
		height: 90px;
		line-height: 90px;
		margin-left: 10px;
		width: 20px;
	}
	.jx-servicelist-2 .title
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-price-1 .title
	{
		font-size: 30px;
		line-height: 30px;
	}
	.jx-price-1 .price
	{
		font-size: 60px;
		line-height: 60px;
		padding: 30px 0 15px;
	}
	.jx-price-1 .price span.top
	{
		font-size: 30px;
		top: -25px;
	}
	.jx-price-1 .price span
	{
		font-size: 30px;
	}
	.jx-price-1 .jx-button .price-btn
	{
		font-size: 16px;
		padding: 10px 20px;
	}
	.jx-price>li
	{
		margin: 0 22px 20px 0;
	}
	.jx-blog-1 .date-position
	{
		top: 87px;
	}
	.jx-blog-1 .title
	{
		font-size: 16px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-title a
	{
		font-size: 25px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-blog-meta
	{
		height: 55px;
		line-height: 55px;
	}
	.jx-footer-recent-post ul li
	{
		margin: 0 0 14px;
	}
	.jx-footer-flickr ul li
	{
		height: 65px;
		width: 29.7%;
	}
	.jx-tags-footer ul li
	{
		padding: 9px 10px;
	}
	.jx-testimonial-slider .flex-direction-nav a
	{
		top: 179px;
	}
	.jx-team-member-1 .name
	{
		font-size: 18px;
	}
	.jx-team-member-1 .post
	{
		font-size: 14px;
	}
	.jx-team-member-1 .plus-icon
	{
		font-size: 30px;
		height: 40px;
		margin: 0 auto;
		padding-top: 9px;
		width: 40px;
	}
	.jx-team-member-1 .content-position
	{
		padding-left: 50px;
	}
	.jx-team-member-1 .team-social
	{
		margin-left: 50px;
	}
	.jx-topbar
	{
		display: none;
	}
	.nav_container
	{
		display: none;
	}
	.jx-top-menu
	{
		display: none;
	}
	.slicknav_menu
	{
		display: block;
	}
	.jx-sticky.fixed
	{
		display: none;
	}
	.jx-menu-holder
	{
		display: none;
	}
	.header-info
	{
		display: none;
	}
	.jx-header
	{
		height: 100px;
	}
	.jx-header .jx-header-logo
	{
		padding: 15px 0 0;
	}
	.jx-titlebar .jx-shape-right
	{
		right: -350px;
	}
	.jx-titlebar .jx-shape-left
	{
		left: -250px;
	}
	.jx-contact-info .title
	{
		font-size: 16px;
		line-height: 25px;
	}
	.jx-contact-info .item-position
	{
		width: 250px;
	}
	.jx-contact-info .line-icon
	{
		font-size: 25px;
	}
	.jx-contact-form .contact-full-name,.jx-contact-form .contact-email
	{
		display: inline;
		float: left;
		width: 49.3%;
	}
	.tp-simpleresponsive .caption,.tp-simpleresponsive .tp-caption
	{
		margin-left: 130px!important;
	}
	.container.with-sidebar .four.columns
	{
		width: 280px;
	}
	.jx-protfolio .jx-portfolio-filter ul li
	{
		line-height: 40px;
	}
	.jx-portfolio-grid
	{
		height: auto;
	}
	.grid-item-width2
	{
		width: 50%;
	}
	.grid-item-width3
	{
		width: 50%;
	}
	.grid-item-width4
	{
		width: 50%;
	}
	.grid-item-height2
	{
		height: 334px;
	}
	.grid-item-height3
	{
		height: 334px;
	}
	.grid-item-height4
	{
		height: 334px;
	}
	.grid-item.gird-item-top
	{
		top: auto;
	}
	.jx-content-box .jx-item i.bg-icon
	{
		bottom: 30px;
		color: #ccc;
		font-size: 40px;
		position: absolute;
		right: 5px;
	}
	.jx-content-box .jx-item h5
	{
		font-size: 18px!important;
	}
	.jx-content-box .jx-item a
	{
		font-size: 16px;
	}
	.jx-content-box .jx-item
	{
		width: 100%;
	}
	.jx-completed-prjcts-item
	{
		width: 32.1%;
	}
	.jx-service-footer-box .jx-title
	{
		font-size: 22px;
	}
	.jx-error-page .jx-error-msg h1
	{
		font-size: 50px;
	}
	.jx-error-page .jx-error-code
	{
		font-size: 280px;
	}
	.jx-process li
	{
		margin-bottom: 65px;
	}
	.jx-project-progress .jx-project-image
	{
		margin-bottom: 20px;
		width: 100%;
	}
	.jx-project-progress .jx-project-image img
	{
		height: 194px;
		width: 100%;
	}
	.jx-project-progress .jx-project-image .image-hover
	{
		left: -60px;
		width: 170px;
	}
	.jx-project-progress .jx-project-image .count-number
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image span
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image .progress
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-project-progress .jx-project-view-image
	{
		height: 296px;
	}
	.jx-project-progress .jx-bg-alternate li
	{
		font-size: 15px;
		padding: 7px 10px;
	}
	.jx-project-progress .jx-project-view-image .count-number
	{
		font-size: 70px;
		line-height: 70px;
	}
	.jx-project-progress .jx-project-view-image span
	{
		font-size: 70px;
		line-height: 70px;
	}
	.jx-project-progress .jx-project-view-image .jx-percentage
	{
		bottom: 20px;
		left: 20px;
	}
	.jx-project-progress .jx-project-contents
	{
		margin-left: 0;
		width: 100%;
	}
}
@media only screen and (min-width:768px) and (max-width:959px)
{
	.jx-tagline-box h3
	{
		font-size: 30px;
	}
	.jx-tagline-box h2
	{
		font-size: 20px;
	}
	.jx-tagline-box .jx-newsletter-box input[type=text]
	{
		width: 180px;
	}
	.jx-tagline-box-1 h3
	{
		font-size: 23px;
		line-height: 25px;
	}
	.jx-tagline-box-1 h2
	{
		font-size: 29px;
		line-height: 32px;
		padding-top: 5px;
	}
	.jx-tagline-box-1 .button
	{
		font-size: 14px;
		padding: 15px;
	}
	.jx-tagline-box-1
	{
		padding: 50px 0 25px;
	}
	.jx-tagline-box-2 h2
	{
		font-size: 25px;
	}
	.jx-tagline-box-2 .button
	{
		font-size: 16px;
		padding: 10px 20px;
	}
	.jx-tagline-box-3 .button
	{
		font-size: 13px;
		margin-top: 30px;
		padding: 10px 15px;
	}
	.jx-tagline-box-3 .box-content h4
	{
		font-size: 20px;
	}
	.jx-shape-right
	{
		width: 370px;
	}
	.jx-shape-left
	{
		width: 420px;
	}
	.jx-counter-up .count_number
	{
		font-size: 50px;
		line-height: 50px;
	}
	.jx-counter-up .counter_text
	{
		font-size: 20px;
	}
	.countup_hr
	{
		width: 110px;
	}
	.jx-counter-up-2 .jx-count span
	{
		font-size: 50px;
		line-height: 75px;
		margin: 0 3px;
		padding: 0 10px;
	}
	.jx-counter-up-2 .jx-count span.comma
	{
		bottom: -10px;
	}
	.jx-counter-up-box span
	{
		font-size: 70px;
		height: 100px;
		line-height: 100px;
		margin-left: 10px;
		width: 60px;
	}
	.jx-shape-left.jx-shape-small
	{
		width: 238px;
	}
	.jx-counter-up-box span.comma
	{
		width: 20px;
	}
	.jx-counter-up-box span.comma
	{
		font-size: 90px;
		height: 90px;
		line-height: 90px;
		margin-left: 10px;
		width: 20px;
	}
	.jx-section-title-2 .jx-title
	{
		font-size: 22px;
		line-height: 30px;
	}
	.jx-servicelist-1 .category
	{
		font-size: 16px;
		line-height: 25px;
	}
	.jx-price>li
	{
		margin: 0 22px 20px 0;
		width: 360px;
	}
	.jx-blog-1 .date-position
	{
		top: 128px;
	}
	.jx-blog-1 .title
	{
		font-size: 18px;
	}
	.jx-blog-1 .one-third.columns
	{
		width: 360px;
	}
	.jx-blog-1 .blog-item
	{
		margin-bottom: 20px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-title a
	{
		font-size: 25px;
	}
	.jx-newsletter .white-column
	{
		width: 100%;
	}
	.jx-newsletter .darkgrey-column
	{
		width: 100%;
	}
	.jx-newsletter .content-box
	{
		height: 340px;
		padding: 50px 40px 0;
	}
	.jx-footer-1 .jx-footer-logo
	{
		margin-bottom: 20px;
		width: 140px;
	}
	.jx-widget-recent-post .image
	{
		background: #999 none repeat scroll 0% 0%;
		width: 66px;
	}
	.jx-widget-recent-post .post-content
	{
		padding-left: 80px;
	}
	.jx-widget-recent-post ul li
	{
		margin: 0;
		padding: 0 0 14px;
	}
	.jx-footer-flickr ul li
	{
		height: 49px;
		width: 28.5%;
	}
	.jx-footer-recent-post .image
	{
		height: 51px;
		width: 70px;
	}
	.jx-footer-recent-post .post-content
	{
		padding-left: 80px;
	}
	.jx-testimonial-slider .flex-direction-nav a
	{
		margin: 0;
		top: 177px;
	}
	.jx-team-member-1 .four.columns
	{
		margin-bottom: 20px;
		width: 360px;
	}
	.shortcode_tab_e.jx-white-tab li
	{
		padding: 12px 17px 15px;
	}
	.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul li
	{
		width: 100%;
	}
	.jx-accordion-3 .eight.columns
	{
		width: 100%;
	}
	.jx-topbar
	{
		display: none;
	}
	.nav_container
	{
		display: none;
	}
	.jx-top-menu
	{
		display: none;
	}
	.slicknav_menu
	{
		display: block;
	}
	.jx-sticky.fixed
	{
		display: none;
	}
	.jx-menu-holder
	{
		display: none;
	}
	.header-info
	{
		display: none;
	}
	.jx-header
	{
		height: 100px;
	}
	.jx-header .jx-header-logo
	{
		padding: 25px 0 0;
	}
	.jx-titlebar
	{
		height: 150px;
		padding-top: 0;
	}
	.jx-page-title .jx-breaducrumb
	{
		font-size: 20px;
	}
	.jx-page-title .jx-breaducrumb span
	{
		font-size: 20px;
		padding: 14px;
	}
	.jx-titlebar .jx-shape-right
	{
		height: 150px;
		right: -350px;
	}
	.jx-titlebar .jx-shape-left
	{
		height: 150px;
		left: -250px;
	}
	.jx-contact-info .title
	{
		font-size: 16px;
		line-height: 25px;
	}
	.jx-contact-info .item-position
	{
		width: 170px;
	}
	.jx-contact-info .line-icon
	{
		font-size: 25px;
	}
	.jx-contact-form .contact-full-name,.jx-contact-form .contact-email
	{
		display: inline;
		float: left;
		width: 49.3%;
	}
	.jx-partner-logo ul li
	{
		width: 180px;
	}
	.tp-simpleresponsive .caption,.tp-simpleresponsive .tp-caption
	{
		margin-left: 120px!important;
	}
	.container.with-sidebar .sixteen.columns
	{
		width: 750px;
	}
	#sidebar
	{
		padding-top: 50px;
	}
	.jx-content-box .jx-item
	{
		width: 100%;
	}
	.jx-project-nav .jx-project-title
	{
		font-size: 18px;
	}
	.jx-protfolio .jx-portfolio-filter ul li
	{
		line-height: 40px;
	}
	.jx-portfolio-grid
	{
		height: auto;
	}
	.grid-item-width2
	{
		width: 50%;
	}
	.grid-item-width3
	{
		width: 50%;
	}
	.grid-item-width4
	{
		width: 50%;
	}
	.grid-item-height2
	{
		height: 334px;
	}
	.grid-item-height3
	{
		height: 334px;
	}
	.grid-item-height4
	{
		height: 334px;
	}
	.grid-item.gird-item-top
	{
		top: auto;
	}
	.jx-caption-big-1
	{
		color: #fff;
		font-family: oswald;
		font-size: 30px!important;
		height: 50px;
		line-height: 50px!important;
		top: 212px!important;
	}
	.jx-caption-big-icon
	{
		left: 220px!important;
		top: 212px!important;
	}
	.tp-caption
	{
		white-space: normal;
	}
	.jx-caption-big-icon i
	{
		font-size: 20px!important;
		height: 50px;
		line-height: 50px!important;
		width: 50px;
	}
	.jx-caption-big-2
	{
		font-family: raleway;
		font-size: 15px!important;
		line-height: 1.2!important;
		padding: 20px!important;
		width: 353px;
	}
	.jx-content-box .jx-item i.bg-icon
	{
		bottom: 20px;
		color: #ccc;
		font-size: 60px;
		position: absolute;
		right: 20px;
	}
	.jx-completed-prjcts-item
	{
		width: 32.1%;
	}
	.jx-service-footer-box .jx-title
	{
		font-size: 18px;
	}
	.jx-content-box .jx-item h5
	{
		padding: 0 20px;
	}
	.jx-error-page .jx-error-msg h1
	{
		font-size: 50px;
	}
	.jx-error-page .jx-error-code
	{
		font-size: 280px;
	}
	.jx-process li
	{
		margin-bottom: 46px;
	}
	.jx-process .jx-process-step
	{
		font-size: 30px;
		height: 50px;
		line-height: 50px;
		margin-bottom: 40px;
		margin-right: 30px;
		margin-top: -10px;
		width: 50px;
	}
	.jx-process-content
	{
		padding-left: 90px;
	}
	.jx-process .jx-process-step div::after
	{
		font-size: 30px;
		height: 45px;
		left: 0;
		line-height: 50px;
		top: 0;
		width: 45px;
	}
	.jx-process .vertical-line
	{
		background: #333 none repeat scroll 0% 0%;
		height: 410px;
		left: 75px;
		position: absolute;
		top: 148px;
		width: 2px;
		z-index: 0;
	}
	.jx-project-progress .jx-project-image
	{
		margin-bottom: 20px;
		width: 100%;
	}
	.jx-project-progress .jx-project-image img
	{
		height: auto;
		width: 100%;
	}
	.jx-project-progress .jx-project-image .image-hover
	{
		left: -60px;
		width: 170px;
	}
	.jx-project-progress .jx-project-image .count-number
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image span
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image .progress
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-project-progress .eight.columns
	{
		margin: 0 10%;
		width: 580px;
	}
	.jx-project-progress .jx-project-view-image
	{
		margin-bottom: 20px;
	}
	.jx-project-progress .jx-project-view-image .count-number
	{
		font-size: 70px;
		line-height: 70px;
	}
	.jx-project-progress .jx-project-view-image span
	{
		font-size: 70px;
		line-height: 70px;
	}
	.jx-project-progress .jx-project-contents
	{
		margin-left: 0;
		width: 100%;
	}
}
@media only screen and  (max-width:767px){
	.wrapp_tabte_catigoris table td{
		min-width: 100%;
	}
	.my_witch_img100 img{
		width: 100%;
	}
}
@media only screen and (min-width:480px) and (max-width:767px)
{
	.jx-tagline-box
	{
		text-align: center;
	}
	.jx-tagline-box .box-content
	{
		padding: 35px 0;
	}
	.jx-tagline-box .jx-line-seperator
	{
		border-bottom: 2px dotted #333;
		border-right: 0;
		float: none;
		height: 170px;
		margin-left: 0;
		margin-top: 30px;
	}
	.jx-subscribeletter
	{
		padding: 35px 0 25px;
	}
	.jx-tagline-box .jx-newsletter-box input[type=text]
	{
		font-size: 19px;
		height: 50px;
		margin-right: 15px;
		padding: 10px;
		width: 160px;
	}
	.jx-tagline-box-1
	{
		text-align: center;
	}
	.jx-tagline-box-1 h2
	{
		font-size: 30px;
	}
	.jx-tagline-box-1 .button
	{
		font-size: 12px;
		padding: 10px 15px;
	}
	.jx-tagline-box-1 h3
	{
		font-size: 25px;
	}
	.jx-tagline-box-2 h2
	{
		font-size: 20px;
	}
	.jx-tagline-box-2 .button
	{
		font-size: 16px;
		padding: 10px 20px;
	}
	.jx-tagline-box-3
	{
		text-align: center;
	}
	.jx-tagline-box-3 .button
	{
		margin-bottom: 25px;
		margin-top: 0;
	}
	.jx-shape-right
	{
		height: 215px;
		width: 600px;
	}
	.jx-shape-left
	{
		height: 215px;
		width: 320px;
	}
	.jx-countup
	{
		padding-bottom: 50px;
		text-align: center;
	}
	.jx-counter-up-2 .jx-count span
	{
		font-size: 40px;
		line-height: 60px;
		margin: 0 3px;
		padding: 0 6px;
	}
	.jx-counter-up-2 .jx-count span.comma
	{
		bottom: -8px;
	}
	.jx-counter-up-box
	{
		margin-top: 20px;
	}
	.jx-counter-up-2 .title
	{
		font-size: 22px;
	}
	.jx-counter-up-2 .jx-title i
	{
		font-size: 40px;
		margin-right: 15px;
		margin-top: -8px;
	}
	.jx-counter-up-box span
	{
		font-size: 40px;
		height: 60px;
		line-height: 60px;
		margin-left: 6px;
		width: 40px;
	}
	.jx-shape-left.jx-shape-small
	{
		width: 286px;
	}
	.jx-counter-up-box span.comma
	{
		font-size: 60px;
		height: 60px;
		line-height: 60px;
		margin-left: 7px;
		width: 15px;
	}
	.jx-section-title-1 .jx-title
	{
		font-size: 20px;
		padding: 0 20px;
	}
	.jx-section-title-1 .jx-left-border
	{
		margin-top: 4px;
		width: 40px;
	}
	.jx-section-title-1 .jx-right-border
	{
		margin-top: 4px;
		width: 40px;
	}
	.jx-section-title-2 .jx-title
	{
		font-size: 20px;
		line-height: 30px;
	}
	.jx-servicebox-1 .jx-servicebox-item
	{
		padding-bottom: 20px;
	}
	.jx-servicebox-2 .jx-servicebox-item
	{
		margin-bottom: 60px;
	}
	.jx-servicebox-2 .jx-image-wrapper .jx-image-title-over a
	{
		font-size: 16px;
	}
	.jx-servicebox-2 .jx-servicebox-item img
	{
		max-width: 100%;
		width: 100%;
	}
	.jx-servicelist-1 .servicelist-head
	{
		margin: 0 0 50px;
	}
	.jx-price-1
	{
		margin-bottom: 40px;
	}
	.jx-price>li
	{
		margin: 0 0 40px;
		width: 100%;
	}
	.jx-blog-1 .date-position
	{
		top: 168px;
	}
	.jx-blog-1 .title
	{
		font-size: 18px;
	}
	.jx-blog-1 .blog-item
	{
		margin-bottom: 40px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-title a
	{
		font-size: 20px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-blog-meta
	{
		height: auto;
	}
	ul.comments li
	{
		padding: 10px 0 0 80px;
	}
	ul.comments li .img-thumbnail
	{
		margin-left: -80px;
	}
	ul.comments li ul li
	{
		padding-left: 0;
	}
	ul.comments li .img-thumbnail
	{
		margin-left: -80px;
	}
	ul.comments li img.avatar
	{
		height: 50px;
		width: 50px;
	}
	ul.comments .comment-block .date
	{
		font-size: 12px;
	}
	.jx-newsletter .white-column
	{
		width: 100%;
	}
	.jx-newsletter .darkgrey-column
	{
		width: 100%;
	}
	.jx-newsletter .content-box
	{
		height: auto;
		padding: 40px 30px 30px;
	}
	.jx-newsletter .white-column .title
	{
		font-size: 27px;
	}
	.jx-newsletter .white-column .sub-title
	{
		font-size: 27px;
	}
	.jx-footer-1 .jx-sub-footer
	{
		height: auto;
	}
	.jx-footer-section .jx-footer-social-icon ul
	{
		padding: 43px 100px 40px 0;
	}
	.jx-footer-flickr ul li
	{
		width: auto;
	}
	.jx-testimonials-2 .image
	{
		display: inherit;
		float: none;
		margin: 0 auto;
	}
	.jx-testimonials-2 .name::before
	{
		padding-top: 20px;
	}
	.jx-testimonial-slider .flex-direction-nav a
	{
		height: 30px;
		padding-top: 7px;
		text-align: center;
		top: 185px;
		width: 30px;
	}
	.jx-testimonial-slider .flex-direction-nav .flex-prev
	{
		right: 50px;
	}
	.jx-tetimonials-1 .jx-testimonial-details .name
	{
		font-size: 18px;
	}
	.jx-tetimonials-1 .jx-testimonial-details .jx-testimonial-image
	{
		margin-right: 10px;
	}
	.jx-team-member-1 .four.columns
	{
		margin-bottom: 40px;
	}
	.shortcode_tab_e.jx-white-tab.jx-arrow-tab li.resp-tab-active
	{
		padding: 12px;
	}
	.shortcode_tab_e ul.resp-tabs-list
	{
		padding-top: 50px;
	}
	.shortcode_tab_e.jx-white-tab li
	{
		padding: 12px 17px 15px;
	}
	.jx-page-subhead .breadcrumb-right
	{
		margin-top: 20px;
		padding: 3px 0 3px 20px;
	}
	.jx-topbar
	{
		display: none;
	}
	.nav_container
	{
		display: none;
	}
	.slicknav_menu
	{
		display: block;
	}
	.jx-sticky.fixed
	{
		display: none;
	}
	.jx-top-menu
	{
		display: none;
	}
	.jx-menu-holder
	{
		display: none;
	}
	.header-info
	{
		display: none;
	}
	.jx-header
	{
		height: 100px;
	}
	.jx-header .jx-header-logo
	{
		padding: 15px 0 0;
	}
	.jx-header .jx-header-logo img
	{
		height: 65px;
	}
	.jx-titlebar
	{
		height: 150px;
		padding-top: 0;
	}
	.jx-page-title .jx-breaducrumb
	{
		font-size: 13px;
	}
	.jx-page-title .jx-breaducrumb span
	{
		font-size: 13px;
		padding: 10px;
	}
	.jx-page-title .jx-breaducrumb a
	{
		padding: 10px;
	}
	.jx-titlebar .jx-shape-right
	{
		height: 150px;
		right: -450px;
	}
	.jx-titlebar .jx-shape-left
	{
		height: 150px;
		left: -300px;
	}
	.container.container-margin .four.columns
	{
		width: 100%!important;
	}
	.twelve.columns
	{
		width: 100%!important;
	}
	.jx-partner-logo
	{
		display: inline-block;
		padding-bottom: 50px;
	}
	.jx-partner-logo ul li
	{
		width: 209px;
	}
	.jx-partner-logo li:nth-last-child(1n)
	{
		margin-left: 0;
		margin-top: 0;
	}
	.sixteen.columns .jx-partner-logo li
	{
		width: 49.8%;
	}
	.jx-contact-info .line-icon
	{
		font-size: 25px;
	}
	.jx-contact-info .title
	{
		font-size: 18px;
		line-height: 25px;
		padding-bottom: 3px;
	}
	.jx-contact-info .item-position
	{
		padding-bottom: 40px;
	}
	.jx-contact-form .contact-full-name,.jx-contact-form .contact-email
	{
		width: 100%;
	}
	.jx-contact-form .contact-full-name
	{
		float: none;
		margin-right: 0;
	}
	#sidebar
	{
		margin-top: 50px;
	}
	.jx-content-box .jx-item
	{
		width: 100%;
	}
	.jx-project-nav .jx-project-title
	{
		font-size: 16px;
	}
	.jx-protfolio .jx-portfolio-filter ul li
	{
		line-height: 30px;
	}
	.jx-portfolio-grid
	{
		height: auto;
	}
	.grid-item-width2
	{
		width: 50%;
	}
	.grid-item-width3
	{
		width: 50%;
	}
	.grid-item-width4
	{
		width: 50%;
	}
	.grid-item-height2
	{
		height: 334px;
	}
	.grid-item-height3
	{
		height: 334px;
	}
	.grid-item-height4
	{
		height: 334px;
	}
	.grid-item.gird-item-top
	{
		top: auto;
	}
	.jx-caption-big-1
	{
		color: #fff;
		font-family: oswald;
		font-size: 30px!important;
		height: 50px;
		line-height: 50px!important;
		/*top: 180px!important;*/
	}
	.jx-caption-big-icon
	{
		left: 230px!important;
		top: 180px!important;
	}
	.tp-caption
	{
		/*margin-left: 220px!important;*/
		white-space: normal;
	}
	.jx-caption-big-icon i
	{
		font-size: 20px!important;
		height: 50px;
		line-height: 50px!important;
		width: 50px;
	}
	.jx-caption-big-2
	{
		font-family: raleway;
		font-size: 15px!important;
		line-height: 1.2!important;
		padding: 20px!important;
		width: 353px;
	}
	.jx-image-placholder.jx-image-wrapper
	{
		margin-bottom: 20px;
	}
	.jx-content-box .jx-item i.bg-icon
	{
		bottom: 20px;
		color: #ccc;
		font-size: 60px;
		position: absolute;
		right: 20px;
	}
	.jx-completed-prjcts-item
	{
		width: 100%;
	}
	.jx-service-completed-prjcts .jx-completed-prjcts-item
	{
		margin-bottom: 30px;
	}
	.jx-error-page .jx-error-msg h1
	{
		font-size: 30px;
	}
	.jx-error-page .jx-error-code
	{
		font-size: 160px;
	}
	.jx-error-page
	{
		min-height: 320px;
	}
	.jx-process li
	{
		margin-bottom: 46px;
	}
	.jx-process .jx-process-step
	{
		font-size: 35px;
		height: 70px;
		line-height: 70px;
		margin-bottom: 40px;
		margin-right: 30px;
		margin-top: -10px;
		width: 70px;
	}
	.jx-process .jx-process-step div::after
	{
		font-size: 30px;
		height: 60px;
		left: 3px;
		line-height: 60px;
		top: 3px;
		width: 60px;
	}
	.jx-process .vertical-line
	{
		left: 84px;
	}
	.jx-project-progress .jx-project-image .count-number
	{
		font-size: 30px;
		line-height: 40px;
	}
	.jx-project-progress .jx-project-image span
	{
		font-size: 30px;
		line-height: 40px;
	}
	.jx-project-progress .jx-project-image .progress
	{
		font-size: 12px;
		line-height: 12px;
	}
	.jx-project-progress .jx-project-contents
	{
		width: 229px;
	}
	.jx-project-progress .jx-project-view-image
	{
		height: auto;
		margin-bottom: 20px;
	}
	.jx-project-progress .jx-project-view-image .count-number
	{
		font-size: 60px;
		line-height: 60px;
	}
	.jx-project-progress .jx-project-view-image span
	{
		font-size: 60px;
		line-height: 60px;
	}
	.jx-project-view-image .progress
	{
		font-size: 25px;
		line-height: 25px;
	}
	.jx-project-progress .jx-project-view-image .jx-percentage
	{
		bottom: 25px;
		left: 25px;
	}
}
@media only screen and (max-width:479px)
{
	.top_img{
		height: 300px;
	}
	/*.wrapp_jx-menu-holder{
		display: none;
	}*/
	.jx-tagline-box
	{
		text-align: center;
	}
	.jx-tagline-box h2
	{
		font-size: 25px;
	}
	.jx-tagline-box h3
	{
		font-size: 40px;
	}
	.jx-tagline-box .box-content
	{
		padding: 35px 0;
	}
	.jx-tagline-box .jx-line-seperator
	{
		border-bottom: 2px dotted #333;
		border-right: 0;
		float: none;
		height: 150px;
		margin-left: 0;
		margin-top: 30px;
	}
	.jx-subscribeletter
	{
		padding: 35px 0 25px;
	}
	.jx-tagline-box .jx-newsletter-box input[type=text]
	{
		width: 300px;
	}
	.jx-tagline-box-1
	{
		text-align: center;
	}
	.jx-tagline-box-1 h2
	{
		font-size: 30px;
	}
	.jx-tagline-box-1 .button
	{
		font-size: 12px;
		padding: 10px 15px;
	}
	.jx-tagline-box-1 h3
	{
		font-size: 25px;
	}
	.jx-tagline-box-2 h2
	{
		font-size: 20px;
	}
	.jx-tagline-box-2 .button
	{
		font-size: 16px;
		padding: 10px 20px;
	}
	.jx-tagline-box-3
	{
		text-align: center;
	}
	.jx-tagline-box-3 .button
	{
		margin-bottom: 25px;
		margin-top: 0;
	}
	.jx-shape-right
	{
		height: 245px;
	}
	.jx-counter-up .count_number
	{
		font-size: 50px;
		line-height: 50px;
	}
	.jx-counter-up .counter_text
	{
		font-size: 20px;
	}
	.countup_hr
	{
		width: 110px;
	}
	.jx-countup
	{
		padding-bottom: 50px;
		text-align: center;
	}
	.jx-counter-up-2 .title
	{
		font-size: 18px;
	}
	.jx-counter-up-2 .icon
	{
		font-size: 18px;
	}
	.jx-counter-up-2 .jx-count
	{
		padding: 30px 0 0;
	}
	.jx-counter-up-2 .jx-count span
	{
		font-size: 26px;
		line-height: 40px;
		margin: 0 1px;
		padding: 0 8px;
	}
	.jx-counter-up-2 .jx-count span.comma
	{
		bottom: -8px;
	}
	.jx-counter-up-box
	{
		margin-top: 20px;
	}
	.jx-counter-up-2 .title
	{
		font-size: 18px;
	}
	.jx-counter-up-2 .jx-title i
	{
		font-size: 30px;
		margin-right: 10px;
		margin-top: -5px;
	}
	.jx-counter-up-box span
	{
		font-size: 25px;
		height: 40px;
		line-height: 40px;
		margin-left: 6px;
		width: 25px;
	}
	.jx-shape-left.jx-shape-small
	{
		width: 203px;
	}
	.jx-counter-up-box span.comma
	{
		font-size: 40px;
		height: 40px;
		line-height: 40px;
		margin-left: 5px;
		width: 10px;
	}
	.jx-section-title-1 .jx-title
	{
		font-size: 18px;
		padding: 0 15px;
	}
	.jx-section-title-1 .jx-left-border
	{
		margin-top: 3px;
		width: 30px;
	}
	.jx-section-title-1 .jx-right-border
	{
		margin-top: 3px;
		width: 30px;
	}
	.jx-section-title-2 .jx-title
	{
		font-size: 18px;
		line-height: 30px;
	}
	.jx-servicebox-1 .jx-servicebox-item
	{
		padding-bottom: 20px;
	}
	.jx-servicebox-2 .jx-servicebox-item
	{
		margin-bottom: 60px;
	}
	.jx-servicebox-2 .jx-image-wrapper .jx-image-title-over a
	{
		font-size: 16px;
	}
	.jx-servicebox-2 .jx-servicebox-item img
	{
		max-width: 100%;
		width: 100%;
	}
	.jx-servicelist-1 .servicelist-head
	{
		margin: 0 0 50px;
	}
	.jx-servicelist-2 .title
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-price-1
	{
		margin-bottom: 40px;
	}
	.jx-price>li
	{
		margin: 0 0 40px;
		width: 100%;
	}
	.jx-blog-1 .date-position
	{
		top: 88px;
	}
	.jx-blog-1 .title
	{
		font-size: 16px;
	}
	.jx-blog-1 .blog-item
	{
		margin-bottom: 40px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-title a
	{
		font-size: 18px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-blog-meta
	{
		height: auto;
	}
	ul.comments li
	{
		padding: 10px 0 0 80px;
	}
	ul.comments li .img-thumbnail
	{
		margin-left: -80px;
	}
	ul.comments li ul li
	{
		padding-left: 0;
	}
	ul.comments li .img-thumbnail
	{
		margin-left: -80px;
	}
	ul.comments li img.avatar
	{
		height: 50px;
		width: 50px;
	}
	ul.comments .comment-block .date
	{
		font-size: 12px;
	}
	.jx-newsletter .white-column
	{
		width: 100%;
	}
	.jx-newsletter .darkgrey-column
	{
		width: 100%;
	}
	.jx-newsletter .darkgrey-column .title
	{
		font-size: 16px;
	}
	.jx-newsletter .content-box
	{
		height: auto;
		padding: 40px 30px 30px;
	}
	.jx-newsletter .white-column .title
	{
		font-size: 18px;
		font-weight: 600;
	}
	.jx-newsletter .white-column .sub-title
	{
		font-size: 18px;
		font-weight: 600;
	}
	.jx-footer-flickr ul li
	{
		width: auto;
	}
	.jx-footer-1 .jx-sub-footer
	{
		height: auto;
	}
	.jx-footer-1 .jx-copy-right
	{
		padding-top: 40px;
	}
	.jx-footer-section .jx-footer-social-icon ul
	{
		padding: 43px 15px 40px 0;
	}
	.jx-testimonials-2 .image
	{
		display: inherit;
		float: none;
		margin: 0 auto;
	}
	.jx-testimonials-2 .name::before
	{
		padding-top: 20px;
	}
	.jx-testimonial-slider .flex-direction-nav a
	{
		height: 30px;
		padding-top: 7px;
		text-align: center;
		top: 220px;
		width: 30px;
	}
	.jx-testimonial-slider .flex-direction-nav .flex-prev
	{
		right: 50px;
	}
	.jx-tetimonials-1 .jx-testimonial-details .name
	{
		font-size: 18px;
	}
	.jx-tetimonials-1 .jx-testimonial-details .jx-testimonial-image
	{
		margin-right: 10px;
	}
	.jx-team-member-1 .four.columns
	{
		margin-bottom: 40px;
	}
	.shortcode_tab_e ul.resp-tabs-list
	{
		padding-top: 50px;
	}
	.shortcode_tab_e.jx-white-tab li
	{
		padding: 12px 17px 15px;
	}
	.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul li
	{
		width: 100%;
	}
	.jx-page-subhead .breadcrumb-right
	{
		margin-top: 20px;
		padding: 3px 0 3px 20px;
	}
	.jx-topbar
	{
		display: none;
	}
	.nav_container
	{
		display: none;
	}
	.jx-top-menu
	{
		display: none;
	}
	.slicknav_menu
	{
		display: block;
	}
	.jx-sticky.fixed
	{
		display: none;
	}
	.jx-menu-holder
	{
		display: none;
	}
	.header-info
	{
		display: none;
	}
	.jx-header
	{
		height: 100px;
	}
	.jx-header .jx-header-logo
	{
		padding: 15px 0 0;
	}
	.jx-header .jx-header-logo img
	{
		height: 70px;
	}
	.jx-titlebar
	{
		height: 150px;
		padding-top: 0;
	}
	.jx-page-title .jx-breaducrumb
	{
		font-size: 13px;
	}
	.jx-page-title .jx-breaducrumb span
	{
		font-size: 13px;
		padding: 10px;
	}
	.jx-page-title .jx-breaducrumb a
	{
		padding: 10px;
	}
	.jx-titlebar .jx-shape-right
	{
		right: -600px;
	}
	.jx-titlebar .jx-shape-left
	{
		left: -450px;
	}
	.container.container-margin .four.columns
	{
		width: 100%!important;
	}
	.twelve.columns
	{
		width: 100%!important;
	}
	.jx-partner-logo
	{
		display: inline;
		padding-bottom: 50px;
	}
	.jx-partner-logo ul li
	{
		width: 300px;
	}
	.sixteen.columns .jx-partner-logo li
	{
		width: 100%;
	}
	.jx-contact-info .line-icon
	{
		font-size: 25px;
	}
	.jx-contact-info .title
	{
		font-size: 18px;
		line-height: 25px;
		padding-bottom: 3px;
	}
	.jx-contact-info .item-position
	{
		display: inline;
		float: left;
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 40px;
	}
	.jx-contact-form .contact-full-name,.jx-contact-form .contact-email
	{
		width: 100%;
	}
	.jx-contact-form .contact-full-name
	{
		float: none;
		margin-right: 0;
	}
	#sidebar
	{
		margin-top: 50px;
	}
	.jx-content-box .jx-item
	{
		width: 100%;
	}
	.jx-project-nav .jx-project-title
	{
		font-size: 16px;
	}
	.jx-protfolio .jx-portfolio-filter ul li
	{
		line-height: 40px;
	}
	.jx-portfolio-grid
	{
		height: auto;
	}
	.grid-item-width2
	{
		width: 100%;
	}
	.grid-item-width3
	{
		width: 100%;
	}
	.grid-item-width4
	{
		width: 100%;
	}
	.grid-item-height2
	{
		height: 334px;
	}
	.grid-item-height3
	{
		height: 334px;
	}
	.grid-item-height4
	{
		height: 334px;
	}
	.grid-item.gird-item-top
	{
		top: auto;
	}
	.jx-caption-big-1
	{
		color: #fff;
		font-family: oswald;
		font-size: 20px!important;
		height: 50px;
		line-height: 50px!important;
		/*top: 50px!important;*/
	}
	.jx-caption-big-icon
	{
		left: 185px!important;
		top: 50px!important;
	}
	.tp-caption
	{
		/*margin-left: 90px!important;*/
		white-space: normal;
	}
	.jx-caption-big-icon i
	{
		font-size: 20px!important;
		height: 50px;
		line-height: 50px!important;
		width: 50px;
	}
	.jx-caption-big-2
	{
		font-family: raleway;
		font-size: 13px!important;
		line-height: 1.2!important;
		padding: 15px!important;
		top: 110px!important;
		width: 275px;
	}
	.jx-image-placholder.jx-image-wrapper
	{
		margin-bottom: 20px;
	}
	.jx-completed-prjcts-item
	{
		width: 100%;
	}
	.jx-service-completed-prjcts .jx-completed-prjcts-item
	{
		margin-bottom: 30px;
	}
	.jx-content-box .jx-item i.bg-icon
	{
		bottom: 20px;
		color: #ccc;
		font-size: 60px;
		position: absolute;
		right: 20px;
	}
	.jx-error-page .jx-error-msg h1
	{
		font-size: 24px;
	}
	.jx-error-page .jx-error-code
	{
		font-size: 120px;
	}
	.jx-error-page
	{
		min-height: 300px;
	}
	.jx-process li
	{
		margin-bottom: 46px;
	}
	.jx-process .jx-process-step
	{
		font-size: 30px;
		height: 50px;
		line-height: 50px;
		margin-bottom: 40px;
		margin-right: 30px;
		margin-top: -10px;
		width: 50px;
	}
	.jx-process-content
	{
		padding-left: 90px;
	}
	.jx-process .jx-process-step div::after
	{
		font-size: 30px;
		height: 45px;
		left: 0;
		line-height: 50px;
		top: 0;
		width: 45px;
	}
	.jx-process .vertical-line
	{
		background: #333 none repeat scroll 0% 0%;
		height: 510px;
		left: 75px;
		position: absolute;
		top: 148px;
		width: 2px;
		z-index: 0;
	}
	.jx-project-progress .jx-project-image
	{
		margin-bottom: 20px;
		width: 100%;
	}
	.jx-project-progress .jx-project-image img
	{
		height: 194px;
		width: 100%;
	}
	.jx-project-progress .item
	{
		margin-bottom: 50px;
	}
	.jx-project-progress .jx-project-image .image-hover
	{
		left: -60px;
		width: 170px;
	}
	.jx-project-progress .jx-project-image .count-number
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image span
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image .progress
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-project-progress .jx-project-contents
	{
		margin-left: 0;
		width: 100%;
	}
	.jx-project-progress .jx-project-view-image
	{
		height: auto;
		margin-bottom: 20px;
	}
	.jx-project-progress .jx-project-view-image .count-number
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-view-image span
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-view-image .progress
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-project-progress .jx-project-view-image .jx-percentage
	{
		bottom: 5px;
		left: 10px;
	}
	.jx-project-progress .jx-project-view-image .image-hover
	{
		left: -60px;
		width: 170px;
	}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape)
{
	.jx-tagline-box h3
	{
		font-size: 35px;
	}
	.jx-tagline-box h2
	{
		font-size: 24px;
	}
	.jx-tagline-box .jx-newsletter-box input[type=text]
	{
		width: 250px;
	}
	.jx-tagline-box-1 h3
	{
		font-size: 28px;
	}
	.jx-tagline-box-1 h2
	{
		font-size: 34px;
	}
	.jx-tagline-box-1 .button
	{
		font-size: 14px;
	}
	.jx-tagline-box-3 .button
	{
		font-size: 14px;
	}
	.jx-tagline-box-3 .box-content h4
	{
		font-size: 24px;
	}
	.jx-shape-right
	{
		width: 510px;
	}
	.jx-shape-left
	{
		width: 480px;
	}
	.jx-counter-up .count_number
	{
		font-size: 50px;
		line-height: 50px;
	}
	.jx-counter-up .counter_text
	{
		font-size: 20px;
	}
	.countup_hr
	{
		width: 110px;
	}
	.jx-counter-up-2 .jx-count span
	{
		font-size: 60px;
		line-height: 100px;
		margin: 0 5px;
		padding: 0 13px;
	}
	.jx-counter-up-2 .jx-count span.comma
	{
		bottom: -10px;
	}
	.jx-counter-up-box span
	{
		font-size: 70px;
		height: 100px;
		line-height: 100px;
		margin-left: 10px;
		width: 60px;
	}
	.jx-shape-left.jx-shape-small
	{
		width: 365px;
	}
	.jx-counter-up-box span.comma
	{
		font-size: 90px;
		height: 90px;
		line-height: 90px;
		margin-left: 10px;
		width: 20px;
	}
	.jx-servicelist-2 .title
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-price-1 .title
	{
		font-size: 30px;
		line-height: 30px;
	}
	.jx-price-1 .price
	{
		font-size: 60px;
		line-height: 60px;
		padding: 30px 0 15px;
	}
	.jx-price-1 .price span.top
	{
		font-size: 30px;
		top: -25px;
	}
	.jx-price-1 .price span
	{
		font-size: 30px;
	}
	.jx-price-1 .jx-button .price-btn
	{
		font-size: 16px;
		padding: 10px 20px;
	}
	.jx-price>li
	{
		margin: 0 22px 20px 0;
	}
	.jx-blog-1 .date-position
	{
		top: 87px;
	}
	.jx-blog-1 .title
	{
		font-size: 16px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-title a
	{
		font-size: 25px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-blog-meta
	{
		height: 55px;
		line-height: 55px;
	}
	.jx-footer-recent-post ul li
	{
		margin: 0 0 14px;
	}
	.jx-footer-flickr ul li
	{
		height: 65px;
		width: 29.7%;
	}
	.jx-tags-footer ul li
	{
		padding: 9px 10px;
	}
	.jx-testimonial-slider .flex-direction-nav a
	{
		top: 179px;
	}
	.jx-team-member-1 .name
	{
		font-size: 18px;
	}
	.jx-team-member-1 .post
	{
		font-size: 14px;
	}
	.jx-team-member-1 .plus-icon
	{
		font-size: 30px;
		height: 40px;
		margin: 0 auto;
		padding-top: 9px;
		width: 40px;
	}
	.jx-team-member-1 .content-position
	{
		padding-left: 50px;
	}
	.jx-team-member-1 .team-social
	{
		margin-left: 50px;
	}
	.jx-topbar
	{
		display: none;
	}
	.nav_container
	{
		display: none;
	}
	.jx-top-menu
	{
		display: none;
	}
	.slicknav_menu
	{
		display: block;
	}
	.jx-sticky.fixed
	{
		display: none;
	}
	.jx-menu-holder
	{
		display: none;
	}
	.header-info
	{
		display: none;
	}
	.jx-header
	{
		height: 100px;
	}
	.jx-header .jx-header-logo
	{
		padding: 15px 0 0;
	}
	.jx-titlebar .jx-shape-right
	{
		right: -350px;
	}
	.jx-titlebar .jx-shape-left
	{
		left: -250px;
	}
	.jx-contact-info .title
	{
		font-size: 16px;
		line-height: 25px;
	}
	.jx-contact-info .item-position
	{
		width: 250px;
	}
	.jx-contact-info .line-icon
	{
		font-size: 25px;
	}
	.jx-contact-form .contact-full-name,.jx-contact-form .contact-email
	{
		display: inline;
		float: left;
		width: 49.3%;
	}
	.tp-simpleresponsive .caption,.tp-simpleresponsive .tp-caption
	{
		margin-left: 130px!important;
	}
	.container.with-sidebar .four.columns
	{
		width: 280px;
	}
	.jx-protfolio .jx-portfolio-filter ul li
	{
		line-height: 40px;
	}
	.jx-portfolio-grid
	{
		height: auto;
	}
	.grid-item-width2
	{
		width: 50%;
	}
	.grid-item-width3
	{
		width: 50%;
	}
	.grid-item-width4
	{
		width: 50%;
	}
	.grid-item-height2
	{
		height: 334px;
	}
	.grid-item-height3
	{
		height: 334px;
	}
	.grid-item-height4
	{
		height: 334px;
	}
	.grid-item.gird-item-top
	{
		top: auto;
	}
	.jx-content-box .jx-item i.bg-icon
	{
		bottom: 30px;
		color: #ccc;
		font-size: 40px;
		position: absolute;
		right: 5px;
	}
	.jx-content-box .jx-item h5
	{
		font-size: 18px!important;
	}
	.jx-content-box .jx-item a
	{
		font-size: 16px;
	}
	.jx-content-box .jx-item
	{
		width: 100%;
	}
	.jx-completed-prjcts-item
	{
		width: 32.1%;
	}
	.jx-service-footer-box .jx-title
	{
		font-size: 22px;
	}
	.jx-error-page .jx-error-msg h1
	{
		font-size: 50px;
	}
	.jx-error-page .jx-error-code
	{
		font-size: 280px;
	}
	.jx-process li
	{
		margin-bottom: 65px;
	}
	.jx-project-progress .jx-project-image
	{
		margin-bottom: 20px;
		width: 100%;
	}
	.jx-project-progress .jx-project-image img
	{
		height: 194px;
		width: 100%;
	}
	.jx-project-progress .jx-project-image .image-hover
	{
		left: -60px;
		width: 170px;
	}
	.jx-project-progress .jx-project-image .count-number
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image span
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image .progress
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-project-progress .jx-project-view-image
	{
		height: 296px;
	}
	.jx-project-progress .jx-bg-alternate li
	{
		font-size: 15px;
		padding: 7px 10px;
	}
	.jx-project-progress .jx-project-view-image .count-number
	{
		font-size: 70px;
		line-height: 70px;
	}
	.jx-project-progress .jx-project-view-image span
	{
		font-size: 70px;
		line-height: 70px;
	}
	.jx-project-progress .jx-project-view-image .jx-percentage
	{
		bottom: 20px;
		left: 20px;
	}
	.jx-project-progress .jx-project-contents
	{
		margin-left: 0;
		width: 100%;
	}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait)
{
	.jx-tagline-box h3
	{
		font-size: 30px;
	}
	.jx-tagline-box h2
	{
		font-size: 20px;
	}
	.jx-tagline-box .jx-newsletter-box input[type=text]
	{
		width: 180px;
	}
	.jx-tagline-box-1 h3
	{
		font-size: 23px;
		line-height: 25px;
	}
	.jx-tagline-box-1 h2
	{
		font-size: 29px;
		line-height: 32px;
		padding-top: 5px;
	}
	.jx-tagline-box-1 .button
	{
		font-size: 14px;
		padding: 15px;
	}
	.jx-tagline-box-1
	{
		padding: 50px 0 25px;
	}
	.jx-tagline-box-2 h2
	{
		font-size: 25px;
	}
	.jx-tagline-box-2 .button
	{
		font-size: 16px;
		padding: 10px 20px;
	}
	.jx-tagline-box-3 .button
	{
		font-size: 13px;
		margin-top: 30px;
		padding: 10px 15px;
	}
	.jx-tagline-box-3 .box-content h4
	{
		font-size: 20px;
	}
	.jx-shape-right
	{
		width: 370px;
	}
	.jx-shape-left
	{
		width: 420px;
	}
	.jx-counter-up .count_number
	{
		font-size: 50px;
		line-height: 50px;
	}
	.jx-counter-up .counter_text
	{
		font-size: 20px;
	}
	.countup_hr
	{
		width: 110px;
	}
	.jx-counter-up-2 .jx-count span
	{
		font-size: 50px;
		line-height: 75px;
		margin: 0 3px;
		padding: 0 10px;
	}
	.jx-counter-up-2 .jx-count span.comma
	{
		bottom: -10px;
	}
	.jx-counter-up-box span
	{
		font-size: 70px;
		height: 100px;
		line-height: 100px;
		margin-left: 10px;
		width: 60px;
	}
	.jx-shape-left.jx-shape-small
	{
		width: 238px;
	}
	.jx-counter-up-box span.comma
	{
		width: 20px;
	}
	.jx-counter-up-box span.comma
	{
		font-size: 90px;
		height: 90px;
		line-height: 90px;
		margin-left: 10px;
		width: 20px;
	}
	.jx-section-title-2 .jx-title
	{
		font-size: 22px;
		line-height: 30px;
	}
	.jx-servicelist-1 .category
	{
		font-size: 16px;
		line-height: 25px;
	}
	.jx-price>li
	{
		margin: 0 22px 20px 0;
		width: 360px;
	}
	.jx-blog-1 .date-position
	{
		top: 128px;
	}
	.jx-blog-1 .title
	{
		font-size: 18px;
	}
	.jx-blog-1 .one-third.columns
	{
		width: 360px;
	}
	.jx-blog-1 .blog-item
	{
		margin-bottom: 20px;
	}
	.jx-blog-1 .jx-blog-title-metabox .jx-title a
	{
		font-size: 25px;
	}
	.jx-newsletter .white-column
	{
		width: 100%;
	}
	.jx-newsletter .darkgrey-column
	{
		width: 100%;
	}
	.jx-newsletter .content-box
	{
		height: 340px;
		padding: 50px 40px 0;
	}
	.jx-footer-1 .jx-footer-logo
	{
		margin-bottom: 20px;
		width: 140px;
	}
	.jx-widget-recent-post .image
	{
		background: #999 none repeat scroll 0% 0%;
		width: 66px;
	}
	.jx-widget-recent-post .post-content
	{
		padding-left: 80px;
	}
	.jx-widget-recent-post ul li
	{
		margin: 0;
		padding: 0 0 14px;
	}
	.jx-footer-flickr ul li
	{
		height: 49px;
		width: 28.5%;
	}
	.jx-footer-recent-post .image
	{
		height: 51px;
		width: 70px;
	}
	.jx-footer-recent-post .post-content
	{
		padding-left: 80px;
	}
	.jx-testimonial-slider .flex-direction-nav a
	{
		margin: 0;
		top: 177px;
	}
	.jx-team-member-1 .four.columns
	{
		margin-bottom: 20px;
		width: 360px;
	}
	.shortcode_tab_e.jx-white-tab li
	{
		padding: 12px 17px 15px;
	}
	.shortcode_tab_e.jx-white-tab.jx-arrow-tab ul li
	{
		width: 100%;
	}
	.jx-accordion-3 .eight.columns
	{
		width: 100%;
	}
	.jx-topbar
	{
		display: none;
	}
	.nav_container
	{
		display: none;
	}
	.jx-top-menu
	{
		display: none;
	}
	.slicknav_menu
	{
		display: block;
	}
	.jx-sticky.fixed
	{
		display: none;
	}
	.jx-menu-holder
	{
		display: none;
	}
	.header-info
	{
		display: none;
	}
	.jx-header
	{
		height: 100px;
	}
	.jx-header .jx-header-logo
	{
		padding: 25px 0 0;
	}
	.jx-titlebar
	{
		height: 150px;
		padding-top: 0;
	}
	.jx-page-title .jx-breaducrumb
	{
		font-size: 20px;
	}
	.jx-page-title .jx-breaducrumb span
	{
		font-size: 20px;
		padding: 14px;
	}
	.jx-titlebar .jx-shape-right
	{
		height: 150px;
		right: -350px;
	}
	.jx-titlebar .jx-shape-left
	{
		height: 150px;
		left: -250px;
	}
	.jx-contact-info .title
	{
		font-size: 16px;
		line-height: 25px;
	}
	.jx-contact-info .item-position
	{
		width: 170px;
	}
	.jx-contact-info .line-icon
	{
		font-size: 25px;
	}
	.jx-contact-form .contact-full-name,.jx-contact-form .contact-email
	{
		display: inline;
		float: left;
		width: 49.3%;
	}
	.jx-partner-logo ul li
	{
		width: 180px;
	}
	.tp-simpleresponsive .caption,.tp-simpleresponsive .tp-caption
	{
		margin-left: 120px!important;
	}
	.container.with-sidebar .sixteen.columns
	{
		width: 750px;
	}
	#sidebar
	{
		padding-top: 50px;
	}
	.jx-content-box .jx-item
	{
		width: 100%;
	}
	.jx-project-nav .jx-project-title
	{
		font-size: 18px;
	}
	.jx-protfolio .jx-portfolio-filter ul li
	{
		line-height: 40px;
	}
	.jx-portfolio-grid
	{
		height: auto;
	}
	.grid-item-width2
	{
		width: 50%;
	}
	.grid-item-width3
	{
		width: 50%;
	}
	.grid-item-width4
	{
		width: 50%;
	}
	.grid-item-height2
	{
		height: 334px;
	}
	.grid-item-height3
	{
		height: 334px;
	}
	.grid-item-height4
	{
		height: 334px;
	}
	.grid-item.gird-item-top
	{
		top: auto;
	}
	.jx-caption-big-1
	{
		color: #fff;
		font-family: oswald;
		font-size: 30px!important;
		height: 50px;
		line-height: 50px!important;
		top: 212px!important;
	}
	.jx-caption-big-icon
	{
		left: 220px!important;
		top: 212px!important;
	}
	.tp-caption
	{
		white-space: normal;
	}
	.jx-caption-big-icon i
	{
		font-size: 20px!important;
		height: 50px;
		line-height: 50px!important;
		width: 50px;
	}
	.jx-caption-big-2
	{
		font-family: raleway;
		font-size: 15px!important;
		line-height: 1.2!important;
		padding: 20px!important;
		width: 353px;
	}
	.jx-content-box .jx-item i.bg-icon
	{
		bottom: 20px;
		color: #ccc;
		font-size: 60px;
		position: absolute;
		right: 20px;
	}
	.jx-completed-prjcts-item
	{
		width: 32.1%;
	}
	.jx-service-footer-box .jx-title
	{
		font-size: 18px;
	}
	.jx-content-box .jx-item h5
	{
		padding: 0 20px;
	}
	.jx-error-page .jx-error-msg h1
	{
		font-size: 50px;
	}
	.jx-error-page .jx-error-code
	{
		font-size: 280px;
	}
	.jx-process li
	{
		margin-bottom: 46px;
	}
	.jx-process .jx-process-step
	{
		font-size: 30px;
		height: 50px;
		line-height: 50px;
		margin-bottom: 40px;
		margin-right: 30px;
		margin-top: -10px;
		width: 50px;
	}
	.jx-process-content
	{
		padding-left: 90px;
	}
	.jx-process .jx-process-step div::after
	{
		font-size: 30px;
		height: 45px;
		left: 0;
		line-height: 50px;
		top: 0;
		width: 45px;
	}
	.jx-process .vertical-line
	{
		background: #333 none repeat scroll 0% 0%;
		height: 410px;
		left: 75px;
		position: absolute;
		top: 148px;
		width: 2px;
		z-index: 0;
	}
	.jx-project-progress .jx-project-image
	{
		margin-bottom: 20px;
		width: 100%;
	}
	.jx-project-progress .jx-project-image img
	{
		height: auto;
		width: 100%;
	}
	.jx-project-progress .jx-project-image .image-hover
	{
		left: -60px;
		width: 170px;
	}
	.jx-project-progress .jx-project-image .count-number
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image span
	{
		font-size: 45px;
		line-height: 50px;
	}
	.jx-project-progress .jx-project-image .progress
	{
		font-size: 20px;
		line-height: 25px;
	}
	.jx-project-progress .eight.columns
	{
		margin: 0 10%;
		width: 580px;
	}
	.jx-project-progress .jx-project-view-image
	{
		margin-bottom: 20px;
	}
	.jx-project-progress .jx-project-view-image .count-number
	{
		font-size: 70px;
		line-height: 70px;
	}
	.jx-project-progress .jx-project-view-image span
	{
		font-size: 70px;
		line-height: 70px;
	}
	.jx-project-progress .jx-project-contents
	{
		margin-left: 0;
		width: 100%;
	}
}